#app-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;

  svg {
    fill: #fff;
  }

  .logo {
    position: absolute;
    top: 10px;
    height: 78px;
    left: 50%;
    z-index: 1000;
    transform: translateX(-50%);

    svg {
      display: block;
      margin: 0 auto;
    }
  }
}
